In [144]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [38]:
# import train and test dataset
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
full_data = [train, test]

In [41]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Data Exploration

In [48]:
# exploratory data analysis
print('Table information: ', train.info())
print('Table desc: ', train.describe())
print('Is there any null values? \n', train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  FamilySize   891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB
Table information:  None
Table desc:         PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare  FamilySize
count  891.000000  891.000000  891.000000
mean     0.381594   32.204208    1.904602
std      0.806057   49.693429    1.613459
min      0.000000    0.000000    1.000000
25%      0.000000    7.910400    1.000000
50%      0.000000   14.454200    1.000000
75%      0.000000   31.000000    2.000000
max      6.000000  512.329200   11.000000
Is there any null values?
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
FamilySize       0
dtype: int64

In [46]:
print('Gender distribution:\n',train['Sex'].value_counts()); print('\n')
print ('Mean of gender survived:\n', train[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean()); print('\n')
print ('Mean of Pclass survived:\n', train[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean())

Gender distribution:
 male      577
female    314
Name: Sex, dtype: int64


Mean of gender survived:
       Sex  Survived
0  female  0.742038
1    male  0.188908


Mean of Pclass survived:
    Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [42]:
for dataset in full_data:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
print (train[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean())

   FamilySize  Survived
0           1  0.303538
1           2  0.552795
2           3  0.578431
3           4  0.724138
4           5  0.200000
5           6  0.136364
6           7  0.333333
7           8  0.000000
8          11  0.000000

## Data Cleaning & Modelling

In [61]:
# Label Encoder to convert categorical gender to numerical (1 and 0)
le = preprocessing.LabelEncoder()
train['Sex'] = le.fit_transform(train['Sex'].astype(str))
train['Embarked'] = le.fit_transform(train['Embarked'].astype(str))

In [93]:
# Missing values
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(train['Age'].values.reshape(-1, 1))
train['Age'] = imp_mean.transform(train['Age'].values.reshape(-1, 1))

In [230]:
# Choosing class and variables (X for variables, y for class)
val_drop = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'Survived', 'FamilySize']
X = train.drop(val_drop, axis=1)
y = train['Survived']

In [231]:
# Standarization
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [232]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [233]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(712, 7)
(712,)
(179, 7)
(179,)

In [234]:
# using PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
pca_attributes_train = pca.fit_transform(X_train)
pca_attribute_test = pca.fit_transform(X_test)
pca.explained_variance_ratio_

array([0.30007229, 0.23716759, 0.14675717])

### Decision Tree

In [235]:
# building decision tree model
decision_tree = tree.DecisionTreeClassifier(criterion='entropy')

In [236]:
# Without PCA
train_mode = decision_tree.fit(X_train, y_train)
train_mode.score(X_test, y_test)

0.8100558659217877

In [222]:
# With PCA
train_mode_pca = decision_tree.fit(pca_attributes_train, y_train)
train_mode_pca.score(pca_attribute_test, y_test)

0.6983240223463687

### Random Forest (With GridSearch)

In [237]:
# building random forest model
clf = RandomForestClassifier(max_depth=5, criterion='gini', random_state=0)

In [152]:
# Without PCA
clf_train = clf.fit(X_train, y_train)
clf_train.score(X_test, y_test)

0.8044692737430168

In [141]:
# With PCA
clf_train_pca = clf.fit(pca_attributes_train, y_train)
clf_train.score(pca_attribute_test, y_test)

0.6871508379888268

In [149]:
clf_model = RandomForestClassifier()

parameters = {
    'criterion': ['entropy', 'gini'],
    'max_depth':     [3, 5, 10]
}
grid_search = GridSearchCV(clf_model, parameters)

In [150]:
grid_search.fit(X_train,y_train)
print(grid_search.best_params_)

{'criterion': 'gini', 'max_depth': 5}

### Predict Using Decision Tree

In [238]:
dct_model = decision_tree.fit(X, y)

In [211]:
test = pd.read_csv('test.csv')
test = test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [223]:
test['Sex'] = le.fit_transform(test['Sex'].astype(str))
test['Embarked'] = le.fit_transform(test['Embarked'].astype(str))

In [224]:
imp_mean.fit(test['Age'].values.reshape(-1, 1))
test['Age'] = imp_mean.transform(test['Age'].values.reshape(-1, 1))
test['Fare'] = imp_mean.transform(test['Fare'].values.reshape(-1, 1))
test = scaler.fit_transform(test)

In [240]:
test_predict = dct_model.predict(test)

In [243]:
from sklearn.metrics import accuracy_score

y_test_dataset = pd.read_csv("gender_submission.csv")
y_test = y_test_dataset.iloc[:, 1].values
print('accuracy = ' + str(accuracy_score(y_test, test_predict)))

accuracy = 0.7679425837320574

In [245]:
test_predict

array([0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [253]:
result = []
for i in range(892, 1310):
    row = [i, test_predict[i - 892]]
    result.append(row)
import csv
with open('titanic_result_decision_tree.csv', "w+") as csv_file:
    csvWriter = csv.writer(csv_file, delimiter = ',')
    csvWriter.writerow(['PassengerID', 'Survived'])
    csvWriter.writerows(result)

In [247]:
result = pd.DataFrame(data=result[;])

[[892, 0],
 [893, 0],
 [894, 0],
 [895, 0],
 [896, 1],
 [897, 1],
 [898, 1],
 [899, 1],
 [900, 0],
 [901, 0],
 [902, 0],
 [903, 0],
 [904, 1],
 [905, 0],
 [906, 1],
 [907, 1],
 [908, 0],
 [909, 1],
 [910, 1],
 [911, 0],
 [912, 1],
 [913, 1],
 [914, 0],
 [915, 0],
 [916, 1],
 [917, 0],
 [918, 1],
 [919, 1],
 [920, 0],
 [921, 1],
 [922, 0],
 [923, 0],
 [924, 1],
 [925, 0],
 [926, 0],
 [927, 1],
 [928, 0],
 [929, 0],
 [930, 0],
 [931, 0],
 [932, 0],
 [933, 0],
 [934, 0],
 [935, 1],
 [936, 1],
 [937, 0],
 [938, 0],
 [939, 0],
 [940, 1],
 [941, 1],
 [942, 1],
 [943, 1],
 [944, 1],
 [945, 0],
 [946, 0],
 [947, 0],
 [948, 0],
 [949, 0],
 [950, 0],
 [951, 1],
 [952, 0],
 [953, 1],
 [954, 0],
 [955, 0],
 [956, 1],
 [957, 1],
 [958, 0],
 [959, 0],
 [960, 0],
 [961, 1],
 [962, 1],
 [963, 0],
 [964, 0],
 [965, 0],
 [966, 1],
 [967, 0],
 [968, 0],
 [969, 0],
 [970, 1],
 [971, 1],
 [972, 1],
 [973, 0],
 [974, 0],
 [975, 0],
 [976, 1],
 [977, 1],
 [978, 0],
 [979, 1],
 [980, 1],
 [981, 1],
 [982, 1],
 [983, 0],
 [984, 0],
 [985, 0],
 [986, 0],
 [987, 0],
 [988, 1],
 [989, 0],
 [990, 1],
 [991, 0],
 [992, 1],
 [993, 0],
 [994, 0],
 [995, 0],
 [996, 1],
 [997, 0],
 [998, 0],
 [999, 0],
 [1000, 0],
 [1001, 0],
 [1002, 0],
 [1003, 1],
 [1004, 0],
 [1005, 0],
 [1006, 1],
 [1007, 1],
 [1008, 0],
 [1009, 1],
 [1010, 1],
 [1011, 1],
 [1012, 1],
 [1013, 0],
 [1014, 1],
 [1015, 1],
 [1016, 0],
 [1017, 0],
 [1018, 0],
 [1019, 1],
 [1020, 0],
 [1021, 0],
 [1022, 0],
 [1023, 0],
 [1024, 1],
 [1025, 0],
 [1026, 0],
 [1027, 0],
 [1028, 0],
 [1029, 0],
 [1030, 1],
 [1031, 0],
 [1032, 0],
 [1033, 1],
 [1034, 1],
 [1035, 0],
 [1036, 0],
 [1037, 0],
 [1038, 0],
 [1039, 0],
 [1040, 0],
 [1041, 0],
 [1042, 1],
 [1043, 0],
 [1044, 0],
 [1045, 1],
 [1046, 0],
 [1047, 0],
 [1048, 1],
 [1049, 1],
 [1050, 0],
 [1051, 1],
 [1052, 1],
 [1053, 1],
 [1054, 0],
 [1055, 0],
 [1056, 0],
 [1057, 0],
 [1058, 1],
 [1059, 0],
 [1060, 1],
 [1061, 0],
 [1062, 0],
 [1063, 0],
 [1064, 0],
 [1065, 0],
 [1066, 0],
 [1067, 1],
 [1068, 1],
 [1069, 1],
 [1070, 1],
 [1071, 1],
 [1072, 1],
 [1073, 1],
 [1074, 1],
 [1075, 0],
 [1076, 1],
 [1077, 0],
 [1078, 1],
 [1079, 0],
 [1080, 0],
 [1081, 0],
 [1082, 0],
 [1083, 0],
 [1084, 0],
 [1085, 1],
 [1086, 1],
 [1087, 0],
 [1088, 1],
 [1089, 1],
 [1090, 0],
 [1091, 0],
 [1092, 1],
 [1093, 1],
 [1094, 0],
 [1095, 1],
 [1096, 0],
 [1097, 0],
 [1098, 0],
 [1099, 0],
 [1100, 1],
 [1101, 0],
 [1102, 0],
 [1103, 0],
 [1104, 0],
 [1105, 1],
 [1106, 0],
 [1107, 0],
 [1108, 0],
 [1109, 0],
 [1110, 1],
 [1111, 0],
 [1112, 1],
 [1113, 0],
 [1114, 1],
 [1115, 0],
 [1116, 1],
 [1117, 0],
 [1118, 0],
 [1119, 1],
 [1120, 0],
 [1121, 0],
 [1122, 1],
 [1123, 1],
 [1124, 0],
 [1125, 0],
 [1126, 1],
 [1127, 0],
 [1128, 1],
 [1129, 1],
 [1130, 1],
 [1131, 1],
 [1132, 1],
 [1133, 1],
 [1134, 0],
 [1135, 0],
 [1136, 0],
 [1137, 0],
 [1138, 1],
 [1139, 0],
 [1140, 1],
 [1141, 0],
 [1142, 1],
 [1143, 0],
 [1144, 0],
 [1145, 0],
 [1146, 0],
 [1147, 0],
 [1148, 0],
 [1149, 0],
 [1150, 1],
 [1151, 0],
 [1152, 0],
 [1153, 0],
 [1154, 1],
 [1155, 1],
 [1156, 1],
 [1157, 0],
 [1158, 0],
 [1159, 0],
 [1160, 0],
 [1161, 0],
 [1162, 1],
 [1163, 0],
 [1164, 1],
 [1165, 1],
 [1166, 0],
 [1167, 1],
 [1168, 0],
 [1169, 0],
 [1170, 0],
 [1171, 0],
 [1172, 0],
 [1173, 1],
 [1174, 1],
 [1175, 0],
 [1176, 0],
 [1177, 0],
 [1178, 0],
 [1179, 0],
 [1180, 0],
 [1181, 0],
 [1182, 1],
 [1183, 1],
 [1184, 0],
 [1185, 0],
 [1186, 0],
 [1187, 0],
 [1188, 0],
 [1189, 1],
 [1190, 0],
 [1191, 0],
 [1192, 0],
 [1193, 1],
 [1194, 0],
 [1195, 0],
 [1196, 1],
 [1197, 1],
 [1198, 0],
 [1199, 1],
 [1200, 0],
 [1201, 0],
 [1202, 0],
 [1203, 1],
 [1204, 0],
 [1205, 0],
 [1206, 1],
 [1207, 1],
 [1208, 1],
 [1209, 0],
 [1210, 0],
 [1211, 0],
 [1212, 0],
 [1213, 0],
 [1214, 0],
 [1215, 1],
 [1216, 1],
 [1217, 1],
 [1218, 1],
 [1219, 1],
 [1220, 0],
 [1221, 0],
 [1222, 1],
 [1223, 0],
 [1224, 0],
 [1225, 0],
 [1226, 0],
 [1227, 0],
 [1228, 1],
 [1229, 0],
 [1230, 0],
 [1231, 0],
 [1232, 0],
 [1233, 0],
 [1234, 0],
 [1235, 1],
 [1236, 0],
 [1237, 1],
 [1238, 0],
 [1239, 0],
 [1240, 0],
 [1241, 1],
 [1242, 1],
 [1243, 0],
 [1244, 0],
 [1245, 1],
 [1246, 0],
 [1247, 0],
 [1248, 1],
 [1249, 0],
 [1250, 0],
 [1251, 0],
 [1252, 0],
 [1253, 1],
 [1254, 1],
 [1255, 0],
 [1256, 1],
 [1257, 0],
 [1258, 1],
 [1259, 1],
 [1260, 1],
 [1261, 1],
 [1262, 0],
 [1263, 1],
 [1264, 0],
 [1265, 0],
 [1266, 1],
 [1267, 1],
 [1268, 0],
 [1269, 0],
 [1270, 0],
 [1271, 0],
 [1272, 0],
 [1273, 0],
 [1274, 1],
 [1275, 0],
 [1276, 1],
 [1277, 1],
 [1278, 0],
 [1279, 0],
 [1280, 0],
 [1281, 0],
 [1282, 0],
 [1283, 1],
 [1284, 1],
 [1285, 0],
 [1286, 0],
 [1287, 1],
 [1288, 1],
 [1289, 1],
 [1290, 0],
 [1291, 0],
 [1292, 1],
 [1293, 0],
 [1294, 1],
 [1295, 0],
 [1296, 0],
 [1297, 1],
 [1298, 0],
 [1299, 0],
 [1300, 1],
 [1301, 1],
 [1302, 1],
 [1303, 1],
 [1304, 0],
 [1305, 0],
 [1306, 1],
 [1307, 0],
 [1308, 0],
 [1309, 0]]

SyntaxError: invalid syntax (<ipython-input-251-a2051f021116>, line 1)